.head-container{
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: rgb(16, 28, 194);
    font-size: 40px;
    
    justify-content: space-around;
}

.head-txt{
    color: white;
    width: 75%;

}
.logo{
    color: white;
    width: 20%;
}
.mybtn{
    background-color: rgb(21, 12, 146);
    width: fit-content;
   color: white;
    border-radius: 5px;
    margin: auto;
   text-decoration: none;
   margin-top: 100px;
   
}
.txt-link{
    text-decoration: none;
    color: white;
}
.letstart-container{
    display: flex;
    flex-direction: column;
    
}