.head-container{
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: rgb(16, 28, 194);
    font-size: 40px;
    
    justify-content: flex-start;
}
.head-txt{
    color: white;
    width: 75%;
}
.logo{
    color: white;
    width: 20%;
}
.mybtn{
    background-color: rgb(21, 12, 146);
    width: fit-content;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 450px;
    margin-top: 200px;
   text-decoration: none;
   
}
.mybtn h1{
    text-decoration: none;
}