.head{
    color: aliceblue;
}
.form-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 128, 180);
    width: 400px;
    height: 300px;
    margin-left: 400px;
    margin-top: 50px;
    border-radius: 5px;
}
input{
    width: 250px;
    height: 30px;
    border-radius: 5px;
}
.login-btn{
    height:  35px;
    width: 100px;
    background-color: rgb(33, 45, 223);
}