.subcontainer{
    display: flex;
     flex-direction: row;
     justify-content:space-around;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    background-color: rgb(33, 24, 158);
    height: 60px;
    padding: 5px;
    font-size:30px ;
    font-weight: bold;
}

.cart{
   
   width: 5%;
}
.txt{
 color: white;
}
.gotomenu {
background-color: rgb(230, 67, 3);

margin-top: 10px;

width: 90px;
border-radius: 2px;
margin-left:100px;
font-size: large;
font-weight: bold;
text-decoration: none;
text-decoration-color: rgb(36, 100, 156);
}
.txt-sign{
    text-decoration: none;
    color: aliceblue;
    width: 40%;
}
.mysign{
    color: white;
    text-decoration: none;
    width: 40%;
}
.myicon{
   color: white;
    width: 5%;
}
.mycount{
    display: flex;
    flex-wrap: wrap;
    color: rgb(231, 222, 222);
    justify-content: center;
    flex-direction: row;
}