.subcontainer{
    display: flex;
     flex-direction: row;
     justify-content: space-between;
     background-color: rgb(40, 29, 197);
    height: 60px;
    padding: 5px;
    padding-left: 20px;
}
.head{
    color: rgb(24, 94, 156);
    text-decoration: none;
    margin-top: 20px;
}
h1{
    
    padding-left: 55px;
    color: rgb(28, 123, 206);
    margin-top: 10px;
    margin-right: 10px;
    
}
.cart{
    margin-left: 650px;
   
}
h1{
    color: rgb(222, 226, 230);
}
.txt{
    margin-left: -50px;
}
.gotomenu {
background-color: rgb(113, 114, 179);
margin-right: -20px;
margin-top: 10px;

width: 90px;
border-radius: 2px;
margin-left:1200px;
font-size: large;
font-weight: bold;
text-decoration: none;
text-decoration-color: aliceblue;
}
.txt-sign{
    text-decoration: none;
    color: aliceblue;
}
.mysign{
    color: white;
    text-decoration: none;
}